@model Employee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Datails";
    var photoEmployee = "~/Images/" + (Model.PhotoPath ?? "download.jpg");

}

<div class="card m-3">
    <div class="bg-dark card">
        <div class="card-header">
            <h3>@Model.Name</h3>
        </div>

        <img src="@photoEmployee" class="card-img-top" style="height:600px;width:auto;" asp-append-version="true" />
        <div class="card-footer text-center">
            <a class="btn btn-primary m-1" asp-action="Datails" asp-controller="Home" asp-route-id="@Model.Id">View</a>
            <a class="btn btn-warning m-1" asp-action="Edit" asp-controller="Home" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger  m-1" asp-action="Delete" asp-controller="Home" asp-route-id="@Model.Id">Delete</a>
        </div>
    </div>
</div>
